
.learningActivityAudioVideoViewSection {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
}

    .learningActivityAudioVideoViewSection.viewSectionBoxed {
        -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
        box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
        border-radius: 0.28571429rem;
        border: 1px solid rgba(34,36,38,.15);
        margin: 1rem 0;
        padding: 1em 1em;
    }

    .learningActivityAudioVideoViewSection.playerWrapper {
        position: relative;
        padding-bottom: 56%;
        padding-top: 20px;
        height: 0;
        background: black;
    }

.innerPlayerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*player controls*/
.hideAudioVideoPlayerNavigationControl .jw-icon-rewind {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-icon.jw-icon-display.jw-button-color.jw-reset {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-slider-horizontal {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-icon-playback {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-text-countdown {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-text-elapsed {
    display: none !important;
}

.hideAudioVideoPlayerNavigationControl .jw-text-duration {
    display: none !important;
}
/* end of player controls */


.divOverlay {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #9c9c9c;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divOverlayContent {
    flex: 0 0 auto;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    /*margin-top: 20% !important;*/
}

.audioVideoIsMutedPanelClass {
    font-size: 20px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .divOverlayContent {
        font-size: 20px;
    }
}

.videoChapterHeader.rotatedVertically {
    transform-origin: 0 0;
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.videoChapterPanel {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    min-width: 180px;
    max-width: 180px;
    margin-left: 8px;
}

    .videoChapterPanel.videoChapterMinimized {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 20px;
        flex: 0 1 20px;
        min-width: 20px;
        max-width: 20px;
        margin-left: 8px;
    }

.videoChapterHeader_collapsed {
    margin-top: 50px;
    cursor: pointer;
}

.videoChapterHeader_collapsedText {
    margin-top: 10px;
    font-size: 90%;
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.videoChapterHeader_expanded {
    cursor: pointer;
}
